<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAF1cz608Hrjp8kF2IxmC7okn5JgEZcIaM</string>
	<key>GCM_SENDER_ID</key>
	<string>1079658531454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iov.telefarmacia</string>
	<key>PROJECT_ID</key>
	<string>iov-telefarmacia</string>
	<key>STORAGE_BUCKET</key>
	<string>iov-telefarmacia.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079658531454:ios:783433e7c11250376be62f</string>
</dict>
</plist>